{% extends "@ShapecodeCRUD/Crud/base.html.twig" %}

{#{% use '@TenoloAdminControlPanel/List/search.html.twig' %}#}

{# @inheritdoc #}
{% block javascripts %}
    {{ parent() }}

    {#{% include '@TenoloAdminControlPanel/List/marker.js.twig' %}#}

    {#{% if (filterable is defined and filterable) %}#}
    {#<script type="text/javascript">#}
    {#$(function () {#}
    {#var toogleSidebar = function () {#}
    {#$('.list-content').toggleClass('col-md-12 col-md-9');#}
    {#$('.list-sidebar').toggle();#}
    {#$('.btn-filter').toggleClass('active');#}
    {#};#}

    {#$('.btn-filter').on('click', toogleSidebar);#}

    {#{% if filter.vars.submitted %}#}
    {#toogleSidebar();#}
    {#{% endif %}#}
    {#});#}
    {#</script>#}
    {#{% endif %}#}
{% endblock %}

{# @inheritdoc #}
{% block contentHeaderHeadlineEntity %}
    {#{% if wording.object.plural is defined %}#}
    {#{{ wording.object.plural|trans({}, 'entities') }}#}
    {#{% else %}#}
    {{ 'form.list.items'|trans }}
    {#{% endif %}#}
{% endblock %}

{# @inheritdoc #}
{% block contentHeaderHeadlineAction %}
    {{ 'action.list'|trans }}
{% endblock %}

{% block pageNavigationObjectButtons %}
    {% block pageNavigationButtonAddObjectWrapper %}
        {% if crud_can_view(crud, 'add') %}
            {% block pageNavigationButtonAddObject %}
                <a href="{{ crud_route(crud, 'add') }}" class="btn btn-primary">{{ fa('plus') }} {{ 'action.add'|trans }}</a>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}

{# @inheritdoc #}
{% block pageNavigationLeftButtons %}
    {{ parent() }}

    {% set pageNavigationObjectButtons = block('pageNavigationObjectButtons')|trim %}

    {% if pageNavigationObjectButtons is not empty %}
        <div class="btn-group">
            {{ pageNavigationObjectButtons|raw }}
        </div>
    {% endif %}
{% endblock %}

{# action items #}
{% block markedEntitiesActionButtons %}
    {% spaceless %}
        {% if crud_can_view(crud, 'marked_remove') %}
            {% block markedEntitiesActionButtonRemove %}
                <li class="dropdown-header">{{ "action.remove"|trans|capitalize }}</li>
                <li>
                    <a href="{{ crud_route(crud, 'marked_remove') }}" class="confirm" data-confirm-text="{{ "form.list.marked.remove"|trans({ "%objects%": wording.object.plural|trans({}, 'entities') }) }}">{{ "action.remove"|trans|capitalize }}</a>
                </li>
            {% endblock %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block listNavigationWrapper %}
    <div class="row row-buffer-2x">
        <div class="col-md-6">
            {% block pagination %}
                {{ knp_pagination_render(objects, "", {}, { class: 'pagination-list' }) }}
            {% endblock %}
        </div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                {% block listNavigation %}
                    {% set limitValues = limitValues|default([10, 20, 50, 100, 200, 500]) %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{ fa('list-ol', true) }} Einträge pro Seite {{ fa('caret-down') }}
                        </button>

                        <ul class="dropdown-menu">
                            {% for oneLimit in limitValues %}
                                <li>
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ limit: oneLimit })) }}">{{ oneLimit }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% set markedEntitiesActionButtons = block('markedEntitiesActionButtons') %}
                    {% if objects|length > 0 and crud_can_view(crud, 'mark') and markedEntitiesActionButtons|trim is not empty %}
                        <div class="btn-group">
                            {# dropdown button #}
                            {% block markedEntitiesActionButton %}
                                <button type="button" class="btn {% if app.session.get(markerName)|length > 0 %}btn-info{% else %}btn-default{% endif %} dropdown-toggle marker-btn" data-toggle="dropdown">
                                    {% block markedEntitiesActionButtonHeadline %}
                                        {{ fa('thumb-tack', true) }}
                                        Markiert
                                        (<span class="marker-counter">{{ app.session.get(markerName)|length }}</span>) {{ fa('caret-down') }}
                                    {% endblock %}
                                </button>
                            {% endblock %}

                            {# actions #}
                            {% block markedEntitiesActionButtonsWrapper %}
                                <ul class="dropdown-menu">{{ markedEntitiesActionButtons|trim|raw }}</ul>
                            {% endblock %}

                        </div>
                    {% endif %}
                    {% if (filterable is defined and filterable) %}
                        <div class="btn btn-black btn-filter">{{ fa('search', true) }} Filter</div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{# list content #}
{% block content %}
    <div class="entity-list">

        {% set sidebar = block('sidebar') %}
        {% set pagination = block('pagination') %}

        {{ parent() }}

        {# top area #}
        {% block listHeader %}{% endblock %}

        {# main area #}
        {% block listContent %}
            {{ block('listNavigationWrapper') }}
            <div class="row">
                <div class="col-md-12 list-content">
                    {# only show table if there are objects #}
                    {% if objects|length > 0 %}

                        {# table wrapper #}
                        {% block listTableWrapper %}
                            <div class="row">
                                <div class="col-sm-12">

                                    {# table panel #}
                                    {% block listTablePanel %}
                                        <div class="panel panel-default">

                                            {# panel headline #}
                                            {% block listTablePanelHeadline %}
                                                <div class="panel-heading clearfix">

                                                    {# left part of the headline #}
                                                    {% block listTablePanelHeadlineLeftWrapper %}
                                                        <div class="pull-left">

                                                            {% block listTablePanelHeadlineLeft %}
                                                                {% spaceless %}
                                                                    {# entity name #}
                                                                    {#{{ wording.object.plural|trans({}, 'entities') }}#}

                                                                    {# counts of all objects #}
                                                                    {{ badge(objects.getTotalItemCount) }}
                                                                {% endspaceless %}
                                                            {% endblock %}

                                                        </div>
                                                    {% endblock %}

                                                    {# right part of the headline #}
                                                    {% block listTablePanelHeadlineRightWrapper %}
                                                        <div class="pull-right">

                                                            {# (un)mark all listed obejcts #}
                                                            {% block listTablePanelHeadlineRight %}
                                                                {#{% if action_mark is defined and action_mark %}#}
                                                                {#<div class="btn-group">#}
                                                                {#<a class="btn btn-xs btn-default" href="{{ path(route.markAll, app.request.query.all) }}">{{ "action.markAll"|trans }}</a>#}
                                                                {#<a class="btn btn-xs btn-default" href="{{ path(route.unmarkAll, app.request.query.all) }}">{{ "action.unmarkAll"|trans }}</a>#}
                                                                {#</div>#}
                                                                {#{% endif %}#}
                                                            {% endblock %}

                                                        </div>
                                                    {% endblock %}

                                                </div>
                                            {% endblock %}

                                            {# show the table block #}
                                            {% block list %}
                                            {% endblock %}

                                        </div>
                                    {% endblock %}

                                </div>
                            </div>
                        {% endblock %}

                        {# list footer #}
                        {% block listFooter %}
                        {% endblock %}

                        {# show info of not existing objects #}
                    {% else %}
                        {% block listNoEntities %}
                            {{ bootstrap_alert_info("form.list.noEntityFound"|trans({ "%name%": wording.object.plural|trans({}, 'entities') })) }}
                        {% endblock %}
                    {% endif %}

                </div>

                {% block sidebarWrapper %}
                    {% if sidebar|trim is not empty %}
                        <div class="col-md-3 list-sidebar" style="display: none;">
                            {{ sidebar|raw }}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            {{ block('listNavigationWrapper') }}
        {% endblock %}
    </div>
{% endblock %}


{% block sidebar %}
    {# search wrapper #}
    {% if (filterable is defined and filterable) %}
        {% block filterWrapper %}
            {# use search block #}
            {{ block('filter') }}
        {% endblock %}
    {% endif %}
{% endblock %}

{#
 # item blocks
 #}
{% block itemId %}{{ badge(o.id) }}{% endblock %}
{% block itemCounter %}{{ badge(counter) }}{% endblock %}
{% block itemMarker %}
    {% if crud_can_view(crud, 'mark') %}
        <input type="checkbox" data-bs-title="{{ 'form.list.row.mark'|trans }}" id="mark-{{ o.id }}" data-id="{{ o.id }}" data-mark-href="{{ path(route.mark, { "id": o.id }) }}" data-unmark-href="{{ path(route.unmark, { "id": o.id }) }}" class="marker"{% if o.id in app.session.get(markerName) %} checked="checked"{% endif %}>
    {% endif %}
{% endblock %}
{% block itemContent %}{% endblock %}
{% block itemLabel %}{% endblock %}
{% block itemDates %}{% endblock %}

{% block itemOptionActionItems %}{% endblock %}
{% block itemOptions %}
    <div class="btn-group">
        {% block itemOptionButtons %}
            {% block itemOptionButtonEdit %}
                {% if crud_can_view(crud, 'edit') %}
                    <a class="btn btn-xs btn-black" data-bs-title="{{ 'action.edit'|trans|capitalize }}" href="{{ crud_route(crud, 'edit', { "object": o }) }}">{{ fa('pencil') }}</a>
                {% endif %}
            {% endblock %}

            {% block itemOptionButtonRemove %}
                {% if crud_can_view(crud, 'remove') %}
                    <a class="btn btn-xs btn-danger remove" href="{{ crud_route(crud, 'remove', { "object": o }) }}">{{ fa('trash-o') }}</a>
                {% endif %}
            {% endblock %}

            {% set itemOptionActionItems = block('itemOptionActionItems') %}
            {% if itemOptionActionItems|trim is not empty %}
                {% block itemOptionActionGroup %}
                    <div class="btn-group">
                        {% block itemOptionAction %}
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                {% block itemOptionActionTitle %}
                                    {{ fa('caret-down') }}
                                {% endblock %}
                            </button>
                        {% endblock %}
                        {% block itemOptionActionItemList %}
                            <ul class="dropdown-menu" role="menu">
                                {{ itemOptionActionItems|raw }}
                            </ul>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}
{% block itemSortingButtons %}
    {% if crud_can_view(crud, 'sort') %}
        <div class="btn-group">
            <a class="btn btn-xs btn-info" data-bs-title="{{ 'form.list.sort.first'|trans }}" href="{{ crud_route(crud, 'sort', { "object": o, sort: 'top' }) }}">{{ fa('angle-double-up') }}</a>
            <a class="btn btn-xs btn-primary" data-bs-title="{{ 'form.list.sort.up'|trans }}" href="{{ crud_route(crud, 'sort', { "object": o, sort: 'up' }) }}">{{ fa('angle-up') }}</a>
            <span class="btn btn-xs btn-black" data-bs-title="{{ 'form.list.sort.position'|trans }}">{{ o.sortOrder|default(0) }}</span>
            <a class="btn btn-xs btn-primary" data-bs-title="{{ 'form.list.sort.down'|trans }}" href="{{ crud_route(crud, 'sort', { "object": o, sort: 'down' }) }}">{{ fa('angle-down') }}</a>
            <a class="btn btn-xs btn-info" data-bs-title="{{ 'form.list.sort.last'|trans }}" href="{{ crud_route(crud, 'sort', { "object": o, sort: 'last' }) }}">{{ fa('angle-double-down') }}</a>
        </div>
    {% endif %}
{% endblock %}